<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign presentations = data[1] | sort: 'date' | reverse %}
  {% for content in presentations %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 cl-sm-2 col-md-2 text-center date-column">
          {% if content.date %} 
            {% assign date = content.date | split: '-' | first %} 
          {% else %} 
            {% assign date = '' %} 
          {% endif %}
          <table class="table-cv">
            <tbody>
              <tr>
                <td>
                  <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">{{ date }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
          <p class="presentation ml-1 ml-md-4">
            {% assign authors = content.authors | split: ", " %}
            {% for author in authors %}
              {% if author contains "Keyser, S.R." %}
                <strong>{{ author }}</strong>
              {% else %}
                {{ author }}
              {% endif %}
              {% unless forloop.last %}, {% endunless %}
            {% endfor %}
            . ({{ content.date | date: "%B %Y" }}). 
            <span style="font-style: italic;">{{ content.title }}</span>. 
            <span class="conference">{{ content.conference }}</span>{% if content.type %}, {{ content.type }}{% endif %}. 
            {{ content.location }}.
            {% if content.url %}
              <br><a href="{{ content.url }}" class="presentation-link">Presentation Link</a>
            {% endif %}
          </p>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>