<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign publications = data[1] | sort: 'releaseDate' | reverse %}
  {% for content in publications %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 cl-sm-2 col-md-2 text-center date-column">
          {% if content.releaseDate %} 
            {% assign date = content.releaseDate | split: '-' | first %} 
          {% else %} 
            {% assign date = '' %} 
          {% endif %}
          <table class="table-cv">
            <tbody>
              <tr>
                <td>
                  <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">{{ date }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
          <p class="bibliography ml-1 ml-md-4">
            {% assign authors = content.authors | split: ", " %}
            {% for author in authors %}
              {% if author contains "Keyser, S.R." %}
                <strong>{{ author }}</strong>
              {% else %}
                {{ author }}
              {% endif %}
              {% unless forloop.last %}, {% endunless %}
            {% endfor %}
            . ({{ date }}). 
            <a href="{{ content.url }}"><span style="font-style: italic;">{{ content.title }}</span></a>. 
            <span class="journal">{{ content.journal }}</span>, 
            <span class="volume">{{ content.volume }}</span>{% if content.issue %}({{ content.issue }}){% endif %}, 
            {{ content.pages }}.
            {% if content.doi %}
              <br><span class="doi">DOI: {{ content.doi }}</span>
            {% endif %}
          </p>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>